<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Демо-версия магазина ножей</title>
</head>
<body>
    <div class="menu">
        <div class="logo">Магазин ножей</div>
        <div class="menu_item"><a href="{{ url_for('products') }}" class="menu_text">Товары</a></div>
    </div>
    <div class="main_body">
        <h1>Добро пожаловать!</h1>
    </div>
</body>
</html>